<main class="main">
    <div class="page-header text-center">
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/home'">Trang chủ</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/cart'">Giỏ hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container" *ngIf="items.length!=0; else notCart">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Bạn có mã giảm giá? <span>Click vào đây để nhập mã</span></label>
                    </form>
                </div><!-- End .checkout-discount -->
                <form [formGroup]="orderForm" (submit)="onSubmit()">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Thông tin nhận hàng</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Họ và tên người nhận *</label>
                                        <input type="text" class="form-control" value="{{ user.name }}" disabled>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Số điện thoại *</label>
                                        <input type="tel" class="form-control" formControlName="phone"
                                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                            <div *ngIf="f.phone.errors.required">
                                                Số điện thoại không được để trống!
                                            </div>
                                        </div>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Địa chỉ nhận hàng *</label>
                                <input type="text" class="form-control" formControlName="address" placeholder="Ghi rõ số nhà, tên đường, thôn / xóm, xã, huyện, tỉnh / thành phố"
                                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required">
                                                Địa chỉ không được để trống!
                                            </div>
                                        </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkout-create-acc" formControlName="addressDefauld" checked>
                                    <label class="custom-control-label" for="checkout-create-acc">Đặt làm địa chỉ mặc định</label>
                                </div><!-- End .custom-checkbox -->

                                <label>Ghi chú</label>
                                <textarea class="form-control" cols="30" rows="4" placeholder="Thêm ghi chú về đơn hàng của bạn..."></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Đơn hàng của bạn</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let item of items">
                                            <td>{{ item.quantity }} x {{ item.product.name }}</td>
                                            <td>{{ item.money | currency: "VND"}}</td>
                                        </tr>
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                    Hình thức thanh toán
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Thanh toán khi nhận hàng (COD).
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Xác nhận</span>
                                    <span class="btn-hover-text">Đặt hàng</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
            <ng-template #notCart>
                <h5 class="text-center">Giỏ hàng của bạn hiện tại đang trống. Cùng mua sắm ngay thôi nào!</h5>
                <div class="cart-bottom">
                    <a [routerLink]="'/list'" class="btn btn-outline-dark-2"><span>TIẾP TỤC MUA SẮM</span><i class="icon-refresh"></i></a>
                </div><!-- End .cart-bottom -->
            </ng-template>
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->