
<main class="main">
    <div class="page-header text-center">
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [href]="'home'">Trang chủ</a></li>
                <li class="breadcrumb-item"><a [href]="'list'">Sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-separated">
                            <figure class="product-separated-item">
                                <img src="assets/{{ product.avatarImage }}" alt="product image">
                            </figure>
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details sticky-content">
                            <h1 class="product-title">{{ product.name }}</h1><!-- End .product-title -->

                            <div class="product-price">
                                <span class="new-price">{{ product.price }}VND</span>
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{ product.description }}</p>
                            </div><!-- End .product-content -->
                            <div class="details-filter-row details-row-size">
                                <label>Màu sắc:</label>

                                <div class="product-nav product-nav-thumbs">
                                        {{ product.color }}
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->
                            <div class="details-filter-row details-row-size">
                                <label for="size">Size:</label>
                                <div class="select-custom">
                                    <select name="size" id="size" class="form-control">
                                        <option value="#" selected="selected">Chọn một size</option>
                                        <option value="s">Small</option>
                                        <option value="m">Medium</option>
                                        <option value="l">Large</option>
                                        <option value="xl">Extra Large</option>
                                    </select>
                                </div><!-- End .select-custom -->

                                <a href="#" class="size-guide"><i class="icon-th-list"></i>Hướng dẫn chọn size</a>
                            </div><!-- End .details-filter-row -->

                            <div class="details-filter-row details-row-size">
                                <label for="qty">Số lượng:</label>
                                <div class="product-details-quantity">
                                    <input type="number" #Qnt class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->

                            <div class="product-details-action">
                                <a (click)="addToCart(product, Qnt.value)" class="btn-product btn-cart"><span>Thêm vào giỏ hàng</span></a>
                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->

                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <h2 class="title text-center mb-4">Có thể bạn sẽ thích</h2><!-- End .title text-center -->

            <div class="product-carousel owl-carousel owl-simple carousel-equal-height carousel-with-shadow">
                <div class="product product-7 text-center" *ngFor="let item of spLienQuan">
                    <figure class="product-media">
                        <a [href]="'detail/' + item.id">
                            <img src="assets/{{ item.avatarImage }}" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action product-action-transparent">
                            <a (click)="addToCart(item, 1)" class="btn-product btn-cart"><span>Thêm vào giỏ hàng</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <h3 class="product-title"><a href="product.html">{{ item.name }}</a></h3><!-- End .product-title -->
                        <div class="product-price">{{ item.price }}VND</div><!-- End .product-price -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->