
<div class="m-content">
    <div class="m-title">
        <span>Danh sách đơn hàng</span>
    </div>
    <div class="m-row">
        <div class="m-filter">
            <input placeholder="Tìm kiếm theo mã hoặc tên" class="m-input m-input-search" type="text">
            <div class="m-filter-room">
                <select class="m-combobox" [(ngModel)]="filterOrderState" (ngModelChange)="filter()">
                    <option value="0" selected>Tất cả đơn hàng</option>
                    <option value="1">Đơn chưa xác nhận</option>
                    <option value="2">Đơn đã xác nhận</option>
                </select>
            </div>
        </div>
    </div>
    <div class="m-content-main">
        <table class="m-table">
            <thead class="m-text-left">
                <tr>
                    <th style="width: 3%">STT</th>
                    <th style="width: 13%;">Tên người nhận</th>
                    <th style="width: 9%;">Số điện thoại</th>
                    <th style="width: 18%">Email</th>
                    <!-- <th style="width: 38%">Địa chỉ</th> -->
                    <th style="width: 8%" class="m-text-center">Ngày tạo</th>
                    <th style="width: 13%" class="m-text-center">Trạng thái</th>
                    <th style="width: 10%" class="m-text-right">Tổng tiền</th>
                    <th style="width: 5%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orders; let i=index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.userName }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.userMail }}</td>
                    <!-- <td>{{ item.address }}</td> -->
                    <td class="m-text-center">{{ item.dateCreate | date: 'dd/MM/yyyy'}}</td>
                    <td *ngIf="item.state" class="m-text-center">Đã xác thực</td>
                    <td *ngIf="!item.state" class="m-text-center">Chưa xác thực</td>
                    <td class="m-text-right">{{ item.price | currency: "VND"}}</td>
                    <td class="m-text-center">
                        <button class="m-btn btn-info" data-toggle="modal" data-target="#modalDetail" >
                        <i class="fas fa-info-circle" (click)="showDetails(item)"></i>
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="m-navigation">
        <div class="m-paging-left" *ngIf="pageSize<=totalItems">
            Hiển thị {{ pageSize }}/{{ totalItems }} bản ghi
        </div>
        <div class="m-paging-left" *ngIf="pageSize>totalItems">
            Hiển thị {{ totalItems }}/{{ totalItems }} bản ghi
        </div>
        <div class="m-paging-center">
            <nav aria-label="Page navigation">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
            </nav>
        </div>
        <div class="m-paging-right">
            <select class="m-combobox" [(ngModel)]="pageSize" (ngModelChange)="loadPage(1)">
                <option value="10">10 bản ghi/ trang</option>
                <option value="15">15 bản ghi/ trang</option>
                <option value="30">30 bản ghi/ trang</option>
            </select>
        </div>
    </div>
</div>


<!-- MODAL -->
<div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 70%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="spn">Chi tiết đơn hàng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" *ngIf="order">
                                <div class="container-fluid">
                                    <div class="row container">
                                        <div class="col-sm-6">
                                            <p><b>Người nhận: </b><span id="nguoiNhan">{{ order.userName }}</span></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <b>Số điện thoại: </b><span id="sdt">{{ order.phone }}</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><b>Địa chỉ: </b><span id="diaChi">{{ order.address }}</span></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <b>Email: </b><span id="mail">{{ order.userMail }}</span>
                                        </div>

                                    </div>
                                    <div class="table-responsive">
                                        <table class="m-table">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th style="width: 12%" class="m-text-center">Hình ảnh</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th class="m-text-right" style="width: 10%">Đơn giá</th>
                                                    <th class="m-text-right" style="width: 10%">Số lượng</th>
                                                    <th class="m-text-right" style="width: 15%">Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let cthd of details; let i=index" id="ctdh">
                                                <tr >
                                                    <td>{{ i+1 }}</td>
                                                    <td><img src="../assets/{{ cthd.productAvt }}" alt="" style="padding: 5px;"></td>
                                                    <td>{{ cthd.productName }}</td>
                                                    <td style="text-align: right;">{{ (cthd.price/cthd.quantity) | currency : "VND" }}</td>
                                                    <td class="m-text-right">{{ cthd.quantity }}</td>
                                                    <td style="text-align: right;">{{ cthd.price | currency : "VND"}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p style="text-align: right; font-weight: bold" id="total"> </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="m-btn m-btn-cancel m-close-modal" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="m-btn m-btn-icon" data-dismiss="modal" *ngIf="!order.state">
                                        <i class="fas fa-save"></i>Xác nhận
                                    </button>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- end MODAL -->