<div class="m-navbar">
    <div class="m-nav-top">
        <div class="m-toggle">
            <img src="../../../assets/admin/content/img/toggle.png" alt="">
        </div>
        <div class="m-logo">
            <img src="../../../assets/images/Logo/logo.png" alt="">
        </div>
    </div>
    <div class="m-menu" style="position: relative;">
        <ul>
            <li>
                <a [routerLink]="'admin'">
                    <div class="m-icon-submenu">
                        <img src="../../../assets/admin/content/icon/dashboard.png" alt="">
                    </div>
                    <div class="m-name-submenu">Tổng quan</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['admin/order']" routerLinkActive="router-link-active">
                    <div class="m-icon-submenu">
                        <img src="../../../assets/admin/content/icon/report.png" alt="">
                    </div>
                    <div class="m-name-submenu">Quản lý hóa đơn</div>
                </a>
            </li>
            <li>
                <a  [routerLink]="['admin/product']" routerLinkActive="router-link-active">
                    <div class="m-icon-submenu">
                        <img src="../../../assets/admin/content/icon/dashboard.png" alt="">
                    </div>
                    <div class="m-name-submenu">Quản lý sản phẩm</div>
                </a>
            </li>
            <li class="">
                <a [routerLink]="['admin/category']" routerLinkActive="router-link-active">
                    <div class="m-icon-submenu">
                        <img src="../../../assets/admin/content/icon/dic-employee.png" alt="">
                    </div>
                    <div class="m-name-submenu">Quản lý danh mục</div>
                </a>
            </li>
            <li class="">
                <a [routerLink]="['admin']" routerLinkActive="router-link-active">
                    <div class="m-icon-submenu">
                        <img src="../../../assets/admin/content/icon/dic-employee.png" alt="">
                    </div>
                    <div class="m-name-submenu">Báo cáo, thống kê</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logout()">
                    <div class="m-icon-submenu">
                        <img src="../../../assets/admin/content/icon/setting.png" alt="">
                    </div>
                    <div class="m-name-submenu">Đăng xuất</div>
                </a>
            </li>
        </ul>
        <div style="position: fixed; bottom: 0; left: 30px; border-top: 1px solid #bbbbbb; text-align: center; height: 3.5em; line-height: 3.5em;">
           Đang đăng nhập bởi Admin
        </div>
    </div>
</div>
<div class="m-main">
    <!-- <div class="m-header">
        <div class="m-header-left">
        </div>
        <div class="m-header-right">
            <img class="m-user-avt" src="../../../assets/admin/content/icon/avatar-default.png" alt="">
            <div class="m-user-name">Chu Thị Kim Yến</div>
            <div class="m-icon-option">
                <img src="../../../assets/admin/content/icon/option.png" alt="">
            </div>
        </div>
    </div> -->
        <router-outlet></router-outlet>
</div>
