<main class="main">
    <div class="intro-slider-container mb-0">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light">
            <div class="intro-slide" style="background-image: url(https://theme.hstatic.net/200000000133/1000569834/14/slideshow_1.jpg?v=5057);">
            </div><!-- End .intro-slide -->
            <div class="intro-slide" style="background-image: url(assets/images/Slides/slide_5.png);">
            </div><!-- End .intro-slide -->
            <div class="intro-slide" style="background-image: url(assets/images/Slides/slide_4.png);">
            </div><!-- End .intro-slide -->
        </div><!-- End .intro-slider owl-carousel owl-theme -->
    </div><!-- End .intro-slider-container -->

    <div class="container pt-10">
        <div class="banner-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="banner">
                        <a href="#">
                            <img src="https://theme.hstatic.net/200000000133/1000569834/14/home3banner_1.jpg?v=5057" alt="Banner">
                        </a>
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4-->
                <div class="col-md-4">
                    <div class="banner">
                        <a href="#">
                            <img src="https://theme.hstatic.net/200000000133/1000569834/14/home3banner_2.jpg?v=5057" alt="Banner">
                        </a>
                    </div><!-- End .banner -->
                </div><!-- End .col-md-6 -->
                <div class="col-md-4">
                    <div class="banner">
                        <a href="#">
                            <img src="https://theme.hstatic.net/200000000133/1000569834/14/home3banner_3.jpg?v=5057" alt="Banner">
                        </a>
                    </div><!-- End .banner -->
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .banner-group -->
    </div><!-- End .container -->

    <div class="mb-4"></div><!-- End .mb-6 -->

    <div class="container">
        <div class="heading heading-center mb-3" id="trendy-all-link" >
            <h2 class="title">Sản phẩm mới nhất</h2><!-- End .title -->
        </div><!-- End .heading -->

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel" aria-labelledby="trendy-all-link">
                <div class="product-carousel owl-carousel owl-simple carousel-equal-height carousel-with-shadow">
                    <div class="product product-2" *ngFor="let item of productsLatest">
                        <app-product [product]="item"></app-product>
                    </div><!-- End .product -->
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->

        <div class="more-container text-center mt-1 mb-3">
            <a href="#" class="btn btn-outline-primary-2 btn-round btn-more">Xem thêm</a>
        </div><!-- End .more-container -->
    </div><!-- End .container -->

    <div class="mb-5"></div><!-- End .mb-5 -->

    <div class="video-banner video-banner-bg bg-image text-center" style="background-image: url(https://theme.hstatic.net/200000000133/1000569834/14/homeBannerCenter_1.jpg?v=5098)">
        <div class="container">
            <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
        </div><!-- End .container -->
    </div><!-- End .video-banner bg-image -->

    <div class="container pt-6 new-arrivals">
        <div class="heading heading-center mb-3">
            <h2 class="title">Sản phẩm bán chạy</h2><!-- End .title -->
        </div><!-- End .heading -->
        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel" aria-labelledby="trendy-all-link">
                <div class="product-carousel owl-carousel owl-simple carousel-equal-height carousel-with-shadow">
                    <div class="product product-2" *ngFor="let item of productsSalest">
                        <app-product [product]="item"></app-product>
                    </div><!-- End .product -->
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->

    </div><!-- End .container -->
    
    <div class="container pt-5">
        <h2 class="title text-center mb-2">Tin tức Kyen</h2><!-- End .title text-center -->
        <div class="entry-container max-col-3" data-layout="fitRows">
            <div class="entry-item lifestyle shopping col-sm-6 col-lg-4" *ngFor="let item of news">
                <article class="entry entry-grid text-center">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="assets/{{ item.image }}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->
    
                    <div class="entry-body">
                        <h2 class="entry-title">
                            <a href="single.html">{{ item.heading }}</a>
                        </h2><!-- End .entry-title -->
    
                        <div class="entry-content">
                            <!-- <p>{{ item.description }}</p> -->
                            <a href="single.html" class="read-more">Đọc tiếp</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->
            </div><!-- End .entry-item -->
            </div>
    </div>

    <div class="container pt-5">
        <div class="cta cta-separator mb-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cta-wrapper cta-text text-center">
                        <h3 class="cta-title">Theo dõi Kyen ngay</h3><!-- End .cta-title -->
                        <p class="cta-desc">Để biết thật nhiều tips phối đồ nha!</p><!-- End .cta-desc -->
                        <div class="social-icons social-icons-colored justify-content-center">
                            <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .cta-wrapper -->
                </div><!-- End .col-lg-6 -->

                <div class="col-lg-6">
                    <div class="cta-wrapper text-center">
                        <h3 class="cta-title">Đăng ký</h3><!-- End .cta-title -->
                        <p class="cta-desc">để nhận thông báo mới nhất từ Kyen</p><!-- End .cta-desc -->
                
                        <form action="#">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Nhập email của bạn" aria-label="Email Adress" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-rounded" type="submit"><i class="icon-long-arrow-right"></i></button>
                                </div><!-- .End .input-group-append -->
                            </div><!-- .End .input-group -->
                        </form>
                    </div><!-- End .cta-wrapper -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .cta -->
    </div><!-- End .container -->

    <div class="bg-lighter pt-7 pb-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rocket"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Miễn phí vận chuyển</h3><!-- End .icon-box-title -->
                            <p>Miễn phí vận chuyển với đơn hàng từ 100.000đ</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-4 -->
                
                <div class="col-sm-6 col-lg-4">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-refresh"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Hoàn trả 100%</h3><!-- End .icon-box-title -->
                            <p>Hoàn trả 100% giá trị đơn hàng nếu có lỗi</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-4 -->

                <div class="col-sm-6 col-lg-4">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Tư vấn  nhiệt tình</h3><!-- End .icon-box-title -->
                            <p>Luôn luôn hỗ trợ bạn 24/7</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .bg-lighter pt-5 pb-5 -->

    
</main><!-- End .main -->