/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'GoogleSans-Regular', sans-serif, 'Segoe UI';
    font-size: 13px;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('./assets/admin/content/font/GoogleSans-Regular.otf');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('./assets/admin/content/font/GoogleSans-Bold.otf');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('./assets/admin/content/font/GoogleSans-Italic.otf');
}
.page-header{
    background-image: url('assets/images/Slides/bg_2.png');
    height: 35vh;
}
.product-title{
    font-weight: 600;
    text-align: left;
}
.mmenu-active .mobile-menu-container{
    transform: translateX(80px)
}

/* login */
#signin-modal section{
    z-index: 9999999;
}
#signin-modal .background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://theme.hstatic.net/200000000133/1000569834/14/slideshow_2.jpg?v=5258');
    background-size: cover;
}