<div class="m-content">
    <div class="m-title">
        <span>Danh sách danh mục sản phẩm</span>
        <button class="m-btn m-btn-icon" data-toggle="modal" data-target="#myModal"
            (click)="createMode()"><i class="fas fa-plus"></i> Thêm danh mục</button>
    </div>
    <div class="m-row">
        <div class="m-filter">
            <input placeholder="Tìm kiếm theo mã hoặc tên" class="m-input m-input-search" type="text">
        </div>
    </div>
    <div class="m-content-main">
        <table class="m-table">
            <thead class="m-text-left">
                <tr>
                    <th style="width: 1.5em">STT</th>
                    <th>Tên danh mục</th>
                    <th class="m-text-center" style="width: 8.5em">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of categories; let i=index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td> <button class="m-btn m-btn-edit"><i class="fas fa-edit" (click)="updateMode(item)"></i></button>
                        <button class="m-btn m-btn-del" (click)="onDelete(item.id)"><i
                                class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="isAddMode">Thêm mới danh mục sản phẩm</h5>
                <h5 class="modal-title" *ngIf="!isAddMode">Sửa thông tin danh mục sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-3">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input *ngIf="category" type="number" formControlName="id" value="{{category.id}}" style="display: none;">
                        <div class="form-group row">
                            <label for="name" class="col-form-label col-sm-4">Tên danh mục sản phẩm: </label>
                            <input formControlName="name" type="text" class="form-control col-sm-8"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Tên không được để trống!</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="m-btn m-btn-cancel" (click)="Reset()">
                                <i class="fa fa-undo-alt"></i>
                            </button>
                            <button class="m-btn m-btn-cancel m-close-modal" data-dismiss="modal">Hủy</button>
                            <button type="submit" class="m-btn m-btn-icon">
                                <i class="fas fa-save"></i>Lưu
                            </button>  
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /modal -->