.m-navigation{
    padding-top: 8px;
    height: 56px;
    width: 100%;
    border-top: 3px solid #E5E5E5;
    display: flex;
    justify-items: center;
}
.m-navigation .m-paging-left{
    line-height: 56px;
}
.m-navigation .m-paging-center{
    flex: 1;
    display: flex;
    justify-content: center;
}

